<!DOCTYPE HTML>
<html>
<head>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<h1>This is on every page</h1>
<h3>Because of the layout.erb </h3>
  <%= yield %>
</body>
</html>
